<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="utf-8"/>
    <title>{{title}} - 秒X房⚡️房屋租赁系统</title>
    <meta name="description" content="秒X房⚡️房屋租赁系统" />
    <meta name="author" content="胡译文" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="//fonts.googleapis.com/css?family=Raleway:400,300,600"
      rel="stylesheet"
      type="text/css"
    />
    {{> partials/load_image}}
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    {{> partials/style}}
  </head>
  <body>
    <img id="background-img" src="" onerror="loadImg(this)" lsrc="/images/Effiel.jpeg" width="100%" height="1000px" style="object-fit: cover;">

    <div class="container" style="position: absolute; top: 0; left: 0;">

        {{#unless no_motto}}
        <div style="width:30%;height:auto;display:inline-block;z-index:1;position:absolute;">
            <img src="" onerror="loadImg(this)" lsrc="/images/flags.gif" width="100%" height="auto" style="position:absolute;">
        </div>

        <div style="width:20%;margin-left:2%;height:auto;z-index:2;display:inline-block;position:absolute;margin-top: 1%;">
        <div class="motto" style="font-size: x-large;">信院出品，必属精品</div>
        </div>
        {{/unless}}

        <div class="navbar">
            <a href="/index">主页</a>
            <a href="/zufang">租房</a>
            <a href="/login">登录</a>
        </div>

        <div class="crumb-container">
        {{#if flash}}
        <small class="crumb">
            <p>{{ flash.[1] }}</p>
        </small>
        {{/if}}
        </div>

        {{~> page}}
    </div>
    <script>
        const pageHeight = window.innerHeight;
        document.getElementById('background-img').style.height = pageHeight.toString() + 'px';
    </script>
  </body>
</html>
