.ruc {
    text-align: center;
    margin-top: 5%;

}

.title {
    text-align: center;
    font-family: '楷体';
    font-size: 50px;
    margin-top: 10px;
}

.bg {
    height: 50px;
    background-color: #B22222;
}

.menu {
    float: left;
    color: white;
    margin-left: 5px;
    line-height: 40px;


}

.log {
    text-align: center;
    color: white;
    margin-right: 30px;
    line-height: 40px;
}

.container {
    margin: 0 5px 0 0;
    display: inline-block;
}


body {
    margin: 0;

    background-size: cover;
    /* 背景图覆盖整个页面 */
    background-position: center;
    /* 背景图居中显示 */
    background-repeat: no-repeat;
    /* 背景图不重复 */

}


.loginborder {

    font-family: '楷体';
    text-align: center;
    margin: 3% 20% 0 20%;
    border: black solid;

}

.motto {

    margin: 5% 0 0 3%;
    font-size: 135%;
    font-family: '方正舒体';
    color: white;
    font-style: italic;

}

.logo {
    font-family: '华文中宋';
    width: 100%;
}

.board {

    border: 2px solid white;
    padding: 10px;
    /* 可根据需要调整内边距 */
    margin: 5%;
    height: 95vh;
    position: relative;


}

.board.searchbox {
    position: absolute;
    top: 2%;
    left: 3%;
    right: 3%;
    height: 20%;
}

.board.search-form {
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    margin-top: 2%;


}

.board.search-input {
    /*padding: 10px;
       font-size: 16px;
       border: none;
       border-radius: 20px;
       box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
       width: 60%;
       transition: box-shadow 0.3s ease;
       */
    width: 23%;
    /* 调整宽度 */
    height: 20%;
    /* 调整高度 */
    border: 2px solid black;
    /* 黑色边框 */
    padding: 8px;
    /* 可选：添加内边距以改善外观 */
    box-sizing: border-box;
    /* 使内边距不增加元素的实际尺寸 */
    font-size: 16px;
    /* 调整字体大小 */
    outline: none;
    /* 移除默认的轮廓样式 */
}

.board.search-input:focus {
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #45a049;

}

.srd {
    transform: scale(1.5);
}

.scrollable-list {
    max-height: 75%;
    overflow-y: auto;
    margin-top: 2%;
}

.list-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 1%;
    border-radius: 5px;
    display: block;
    justify-content: space-between;
    align-items: center;
}

.lease-button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}