{{#*inline "page"}}

<div class="ruc" style="text-align: center; margin: 4%;">
    <image src="" onerror="loadImg(this)" lsrc="/images/ruc.png" style="width:40%" ></image>
    <image src="" onerror="loadImg(this)" lsrc="/images/rucinfo.png" style="width:40%" ></image>
</div>
<div class="title" style="text-align: center; margin: 3%; font-size: xxx-large">
    欢迎使用<span class="logo"><image src="/images/favicon.png" style="width:10%;"></image></span>房屋租赁系统
</div>

<div class="login_box" style="text-align: center">
    <a href="/register">注册</a>
    <a href="/login">登录</a>
</div>

{{/inline}}
{{> partials/base}}
