name: Shuttle Deploy

on:
  push:
    branches:
      - release
  workflow_dispatch:

jobs:
  deploy:
    environment: Production
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        uses: shuttle-hq/deploy-action@main
        with:
          secrets: |
            MYSQL = "${{ secrets.MYSQL }}"
          deploy-key: ${{ secrets.SHUTTLE_API_KEY }}
