name: Shuttle Deploy

on:
  push:
    branches:
      - release
  workflow_dispatch:

jobs:
  deploy:
    environment: Production
    runs-on: ubuntu-latest
    steps:
      - uses: shuttle-hq/deploy-action@main
        with:
          deploy-key: ${{ vars.SHUTTLE_API_KEY }}
